In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [39]:
hitters_data = pd.read_csv("../data/hitters_clean.csv")

In [47]:
hitters_data.head()

,Name,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary
0,-Alan Ashby,315,81,7,24,38,39,14,3449,835,69,321,414,375,632,43,10,475.0
1,-Alvin Davis,479,130,18,66,72,76,3,1624,457,63,224,266,263,880,82,14,480.0
2,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,225,828,838,354,200,11,3,500.0
3,-Andres Galarraga,321,87,10,39,42,30,2,396,101,12,48,46,33,805,40,4,91.5
4,-Alfredo Griffin,594,169,4,74,51,35,11,4408,1133,19,501,336,194,282,421,25,750.0

### Predicting Baseball Players’ Salaries Using Regression Trees. For simplicity we will take  'Hits', 'Years' features and predict 'Salary' of a baseball player.

In [48]:
hitters_data[['Hits', 'Years', 'Salary']].head()

   Hits  Runs  Years    Salary
0    81    24     14   475.000
1   130    66      3   480.000
2   141    65     11   500.000
3    87    39      2    91.500
4   169    74     11   750.000
5    37    23      2    70.000
6    73    24      3   100.000
7    81    26      2    75.000
8    92    49     13  1100.000
9   159   107     10   517.143

In [50]:
hitters_data[['Hits', 'Years', 'Salary']].describe()

             Hits       Years       Salary
count  263.000000  263.000000   263.000000
mean   107.828897    7.311787   535.925882
std     45.125326    4.793616   451.118681
min      1.000000    1.000000    67.500000
25%     71.500000    4.000000   190.000000
50%    103.000000    6.000000   425.000000
75%    141.500000   10.000000   750.000000
max    238.000000   24.000000  2460.000000

In [54]:
hitters_data[hitters_data.Years < 4.5]['Salary'].mean()

225.83147777777776

In [73]:
hitters_data[(hitters_data.Years >= 4.5) & (hitters_data.Hits < 117.5)]['Salary'].mean()

464.91667777777781

In [74]:
hitters_data[(hitters_data.Years >= 4.5) & (hitters_data.Hits >= 117.5)]['Salary'].mean()

949.17075903614466

### We can represent a simple tree model (for interpretation purpose) as shown below.
<img height="400" width="550" src="./img/regression/sample_tree.png">

    
  * **The model will predict salary of player based on below conditions.**
    * If "years of experience < 4.5, Predicted Salary = **average salaries of players with "years of experience < 4.5". **
    * If expreience >= 4.5 years then
      * If Hits < 117.5, Predicted Salary = **average salaries of players with "years of experience >= 4.5" AND "Hits < 117.5".**
      * If Hits >= 117.5, Predicted Salary = **average salaries of players with "years of experience >= 4.5" AND "Hits >= 117.5".**
      
### The algorithm consists of a series of splitting rules, starting at the top of the tree. One can interpret these splitting rules as shown below (Denoted with R1, R2 and R3).
<img height="400" width="400" src="./img/regression/sample_tree_regions.png">

  * These three regions can be written as (the regions R 1 , R 2 , and R 3 are known as **terminal nodes** or **leaves** of the tree) 
    * R1 ={X | Years<4.5}
    * R2 ={X | Years>=4.5, Hits<117.5}
    * R3 ={X | Years>=4.5, Hits>=117.5}
    
  * The points along the tree where the predictor space is split are referred to as **internal nodes**.(the two internal
nodes are "Years<4.5" and "Hits<117.5")

  
### Example tree representation &  A perspective plot of the prediction surface corresponding to the tree.

<img height="500" width="700" src="./img/regression/prediction_surface.png">

## We now discuss the process of building a regression tree. Roughly speaking, there are two steps.
  1. We divide the predictor space - that is, the set of possible values (samples) for $ X_1 , X_2 , . . . , X_p $ —into J distinct and non-overlapping regions, $ R_1 , R_2 , . . . , R_J $
  2. For every observation that falls into the region $ R_j $, we make the same prediction, which is simply the mean of the response values for the training observations in $ R_j $ .
    * If we take above example we have three regions, $ R_1, R_2, R_3 $. All the samples x fall in $ R_1 $ will be predicted as 225.83 K salary, in $ R_2 $ will be predicted as 465.92 K salary, in $ R_1 $ will be predicted as 949.17 K salary,.  
    
### How to select the best predictor to split, and the cut point (the value of 4.5 in years < 4.5) for the predictor -  at each node  ?
  * We take a **top-down, greedy** approach that is known as recursive binary splitting.
  * The approach is **top-down** because it begins at the top of the tree (at which point all observations belong to a single region) and then successively splits the predictor space; each split is indicated via two new branches further down on the tree.
  * It is **greedy** because at each step of the tree-building process, the best split is made at that particular step, rather than looking ahead and picking a split that will lead to a better tree in some future step.

### Recursive Binary Split: 
  * The goal is to find boxes $ R_1, R_2, . . . , R_J $ that minimize the RSS, given by 
  $$ RSS = \sum_{j=1}^J \sum_{i \space \epsilon \space R_j} (y_i - y_{R_j}^|) \space , $$
    * Where ** $ y_{R_j}^| $ is the mean response for the training observations within the $ j_{th} $ box **.
  * We consider all predictors $ X_1, X_2, . . . ,X_p $, and all possible values of the cutpoint "s" for each of the predictors, and then choose the predictor and cutpoint such that the resulting tree has the lowest RSS.
  $$ R_1 (j,s) = \{ X \space | \space X_j < s \} \space and \space R_2 (j,s) = \{ X \space | \space X_j >= s \}, $$
  and we **seek** the value of **j** and **s** that minimize the equation
  $$ \sum_{i \space :  \space x_i \space \epsilon \space R_1 (j,s)} (y_i - y_{R_1}^|) \space + \space \sum_{i \space :  \space x_i \space \epsilon \space R_2 (j,s)} (y_i - y_{R_2}^|) \space, $$
  * We repeat the process, looking for the best predictor and best cutpoint in order to split the data further so as to minimize the RSS within each of the resulting regions. However, this time, instead of splitting the entire predictor space, we split one of the two previously identified regions.We now have three regions. Again, we look to split one of these three regions further, so as to minimize the RSS. The process continues until a stopping criterion is reached; for instance, we may continue until no region contains more than five observations.